[2017-10-26 13:32] juincc0 opened #1 "活動名稱 (已結束)"
最終方案：
### BeyondBlock Taipei

可從[這裡](https://bravenewcoin.com/industry-resources/events-calendar/bitcoin-and-blockchain-events/)找靈感

[2017-10-26 13:35] juincc0 opened #2 "場地 (due 2017/11/2)"
可以編輯

[2017-10-26 13:45] juincc0 opened #3 "各組負責人"
ref: [第一次會議紀錄](https://docs.google.com/document/d/1Mt4FTayrPOGDcGZrT_hxILC7bWak_bbe1rVWPpLZZpA/edit)
## 分組
總召 @juinc
副召 @changwu-tw

| 組別 | 負責人 | 內容 |
| :---: | :---: | :---: |
| 議程 | @robinhung | 議程、講者晚宴、交流活動 |
| 設計 | @ChihChengLiang @tailingchen @bichenkk | 衣服、貼紙 |
| 網站 | @BenjaminLu | 議程網站、Dapp |
| 行銷 | @yurenju | 包含線上與線下的宣傳，包含跟別人場地的宣傳 |
| 直播 | @charlieworld | 活動直播|
| 記錄 | @ChihChengLiang | 照相、

[2017-10-26 14:08] BenjaminLu opened #4 "網站"
議程網站目前規劃是以下幾個頁面，需要RWD，支援中英兩個語系
[報名網站repo](https://github.com/EtherTW/confweb2017)

1. 首頁landing page: conf標題和KKTIX報名連結
2. 關於頁面: 講述此會議的精神
3. 最新消息: 連結Taipei Ethereum Meetup社團消息
4. 講者: 介紹講者
5. 議程: 議程題目和時間表
6. 交通路線
7. 贊助廠商

空間暫定放github pages，domain已經買好
覺得有屬於區塊鏈領域該有的特殊頁面可以回覆討論
心有餘力有Dapp想法的也可以這邊討論，如果想法很多再另外開一個issue
與設計師配合初版出來我再開個repo

議程參考 #6

[2017-10-26 15:30] ChihChengLiang opened #5 "媒體 press kit (11/3)"
我建議仿遊戲公司的方式，直接製作一個 press kit 給其他媒體使用。我們寫好基本事實，媒體可直接照上面素材撰稿

有現成工具可以使用 http://dopresskit.com/

範例： http://redcandlegames.com/presskit/sheet.php?p=detention&l=ch

[2017-10-26 15:31] ChihChengLiang commented on #5
我可以做一份初版

[2017-10-27 05:13] juincc0 opened #6 "議程"
## 議程 (Version 2)
| 時間 | 內容 |
| :---: | :---: |
| 0800-0900 | 場佈 |
| 0900-0930 | Registration |
| 0930-0940 | Opening |
| 0940-1010 | Lane Rettig (Founder of CryptoNYC): Blockchain in NYC
| 1010-1110 | Karl Floersch (Ethereum Researcher): Smart Contract Tutorial
| 1110-1130 | 休息 |
| 1130-1200 | 何斌 Ben (CEO of ImToken): ImToken 2.0 |
| 1200-1330 | 午餐 (自理) |
| 1330-1400 | Raiden Network: Trustlines

[2017-10-27 05:31] yurenju opened #7 "場地 Survey"
先問一下之前有辦過活動的朋友找 100 人的場地，並且進行場勘看看是否符合我們的需求。目前我們的需求如下：

## 需求
* 100 人的場地
* 單軌議程
* 有接待處的空間
* 提供 100 人不會堵塞的網路，可以問問以前有辦過怎樣類型的活動，當時網路狀況如何（需計算每人可能至少有兩個上網裝置如電腦、手機）
* 提供適量電源插座，20 ~ 30 個插孔應該足夠。
* 旁邊有空間讓廠商擺攤，提供桌椅（不確定）

## 候選場地

|場地名稱|大小|接待處空間|網路狀況|電源插座|擺攤空間|費用|
|----------|----|-------------|---------|---------|--------|----|
|微軟|大|Y, 於 1F, 場地於 19F |可申請|充足|不可擺攤|免費，須提供一個session|
|未來產房|可 120 人，但會稍擠|有|據稱良好|前後約

[2017-10-27 05:53] yurenju commented on #7
Hook 測試

[2017-10-27 05:56] willliw commented on #7
test

[2017-10-27 05:57] yurenju commented on #7
Hook 測試

[2017-10-27 07:54] yurenju commented on #7
今日miyachen 已經到 CDIB Innovation Accelerator 探勘，感謝！ 👍

探勘感想如下：

![conference_room_outside](https://user-images.githubusercontent.com/22155/32093390-b1072004-bb2e-11e7-95f7-0e8a85dc5387.JPG)
![max_event](https://user-images.githubusercontent.com/22155/32093391-b1320b66-bb2e-11e7-8541-532dd840f449.JPG)
![reception](https://user-images.githubusercontent.com/22155/32093393-b159d4de-bb2e-11e7-96db-840bed

[2017-10-27 09:58] yurenju commented on #7
附上未來產房多功能活動空間的照片，並且更新相關訊息到 issue description

![image](https://user-images.githubusercontent.com/22155/32098734-3f186414-bb40-11e7-8f3c-1eec4b410e2d.png)
![image](https://user-images.githubusercontent.com/22155/32098745-46b53684-bb40-11e7-8a01-8c47b3b5f2fb.png)
![image](https://user-images.githubusercontent.com/22155/32098760-4f5bb6b4-bb40-11e7-8f7f-2c997d4c3fbd.png)

[2017-10-29 05:00] yurenju commented on #7
目前 Ken 跟 @juinc 可以一起去場地探勘，目前我會先連絡這兩個場地未來產房 (futureward) 跟 CLBC，並原則上在晚上場地勘查。至於微軟我猜想是工作時間比較方便，但我還是會詢問一下他們能不能晚上六點後過去看看。

如果各位對於哪些場地還有想要探勘的請留言在這個 issue。

[2017-10-29 05:18] yurenju commented on #7
* Futureward 未來產房預約在周一 7:00pm
* CLBC - email 詢問中，原則上希望可以排周一 8:00pm 或週二 7:00pm
* 微軟 - email 詢問中

[2017-10-29 06:26] juincc0 commented on #7
有個想法：
如果要增加講者跟聽眾互動，可以選空間小一點的場地，然後吃的很重要

[2017-10-29 07:38] yurenju commented on #7
[off topic] 如果要增加互動，除了場地以外，也可以思考一下怎麼從議程安排。比如說安排一些以討論為基礎的議程。這在台灣的研討會比較少見，不過我在國外參加的 Web Summit 跟 Code for America 都有遇過，主持人基本上是提出一些問題，並且用一些機制帶領大家討論。比如說分四個群組，然後四個工作人員協助這四個群組一起想出一些意見，接下來在一起提出這些意見跟不同的群組之間討論。

不過這完全離題了 XDD

回到正題，我們可以在場地上選擇比較容易增進討論的場地，不過我也想多了解一下除了 @juinc 提出的選場地的想法外，大家還有什麼想法覺得怎樣的場地形式可以增進討論。除了場地的選擇外，也可以從場地布置下手。

[2017-10-29 08:16] juincc0 commented on #7
小朱上面提出的想法比較類似 workshop，但這種做法其實風險很高，主要考量兩點：
1. 我們不知道台灣 blockchain 社群的成熟程度 (或者可以說：不成熟)
2. 我們不知道講者的互動程度

所以安排workshop的結果有可能會很乾

我覺得保險牌是把tea break拉長，餐點好一點，場地好一點 (例如有不錯的景觀裝置或者沙發區)，讓大家感到愉悅放鬆，讓講者跟聽眾自由互動，或許會激發出不同的效果，我們也可以於事後徵詢講者的建議，也試探台灣的社群成熟度，有助下一次設計出更好的議程

但我相信某個程度的帶領是必要的，但可能不用到議程的形式

補充：酒精永遠是最好的破冰工具哈哈哈

[2017-10-29 08:19] yurenju commented on #7
我們開另外一個 issue，然後我們把這些討論移過去好了。另外這些經驗也都是分享一下之前看過的做法，以我們現在的時間也不適合做這些相對來說太實驗性質的嘗試

[2017-10-29 08:20] yurenju commented on #7
我把這些討論 copy 一份到 #6，有興趣的可以延續這些討論。不過原本的討論就留在這裡不刪了，脈絡比較清楚。

[2017-10-29 08:22] yurenju commented on #6
這邊節錄我跟 @juinc 在 #7 對於議程的討論，因為討論的話題大多在議程相關，所以移到這邊來。

@yurenju

@juinc

[2017-10-29 14:00] juincc0 commented on #1
提案：
## Blockway Taipei

1. blockway 類似 broadway，簡單好記
2. way 擁有「方法」及「路線」兩種意思

[2017-10-29 14:43] juincc0 opened #8 "設計"
[Logo repo](https://github.com/EtherTW/Logo)

## 衣服
數量？ 類型？（tshirt or polo）顏色？ 大小？ 預算？有倉庫？

## 貼紙

[2017-10-29 20:01] ChihChengLiang commented on #1
提案

## Broadcast Taipei

把台北的聲音傳出去，讓網路上的其他 peer 們知道

[2017-10-29 21:09] quesalltime commented on #1
提案

**BlockBroad Taipei**

結合邱駿和智程提供的意象,簡稱 BBT

[2017-10-29 21:21] changwu-tw commented on #1
BeyondBlock Taipei, also named BBT

[2017-10-30 01:01] yurenju commented on #7
更新目前的狀況一下。微軟目前因為原本的負責人目前不在台灣，改跟另外一位 Reneata 約今天下午三點。所以今天會有兩個場勘：微軟跟未來產房。

今天的場勘人員：
* [微軟](https://goo.gl/maps/LkjY4pAVkgC2) (下午三點)：我 (@yurenju)
* [未來產房 南京復興](https://goo.gl/maps/oG9xMKQEvdS2) (晚上七點)：我、 @quesalltime 跟 @juinc 跟陳保羅

未來產房的場勘，請大家七點直接在場地門口集合。

**更新**

因為打電話去未來產房發現她沒接到我們的預約，跟他們確認下班時間後改為 6:00 場勘。

[2017-10-30 02:06] juincc0 commented on #1
於[社團](https://www.facebook.com/groups/443751072484739/)進行投票喔
預計至 11/1

[2017-10-30 02:26] yaochunghu commented on #1
提案
# Distributed Taipei

[2017-10-30 02:31] tyrinwu commented on #1
建議：選一個比較好搜尋的名字？ 猜想一個想搜尋Blockchain活動的人，可能就不太會注意到這個名稱比較特別的活動（如果主辦單位沒有多餘力氣宣傳。）
也許簡單的Blockchain Taipei Summit 之類的名稱就可以

[2017-10-30 02:45] juincc0 commented on #1
@tyrinwu
1. 會使用不同命名是因為我們想弄一場有台灣特色的活動，或許 `Blockchain Taipei Summit` 可以當成副標題
2. 我們的 TA 偏技術端

Thanks for advising!

[2017-10-30 03:21] tyrinwu commented on #1
@juinc 明白你們的想法。　意見提供參考:P

[2017-10-30 03:51] yurenju commented on #7
CLBC 大船艦場館 11/25 已經被預訂了，目前 CLBC 約一百人的場地只剩下 [德惠貳參](http://clbc.tw/t23eventspace/)。目前聯絡預約中，可能要週三才有辦法看場地。

考慮到時間因素，建議是先考慮其他場地，把這個的優先權排後面一點。

[2017-10-30 12:56] yurenju commented on #7
更新一下今天看的三個場地個別的狀況。

### 微軟

微軟除了一樓門禁比較麻煩外，看起來場地是非常的好，而且除了會議室是三間會議室打通，場地大小充足外，另外也有額外的場地可以提供飲食（會議室內是嚴禁飲食的）。也是目前看到的場地最好的一個。

另外一方面有其他問題待解決，由於微軟的場地原本是預計提供給單純的社群活動使用，如果有贊助上擺攤或是收取門票的話他們很難跟公司與其他想要借用的社群交代。所以如果要借用微軟的場地則要考慮這些事情，或許用更正式的贊助方案，並且用贊助金額去借用其他場地比較合適。

### Mozilla Space

Mozilla Space 是今天第二間看的場地，也是這三間場地最小的一間。看起來頂多可以容納四十人，再多就會變得很擁擠了。除了 Mozilla Space 以外，還有另外一個小空間可供使用，不過總歸來說空間還是太小了，不適用這次的研討會。

### Futu

[2017-10-30 13:19] daubas opened #9 "實體籌備會時間地點"
各位好，
與邱駿討論過後規劃要來辦個conf的實體籌備會，
希望要參與籌備的成員盡量都能到，
11/10～20號大家那天比較有空呢？
地點的話資策會那邊都能借嗎？
或是直接找個咖啡廳也都可以。

[2017-10-30 13:24] daubas commented on #9
討論的事務方向：
1. 11/25 conf的執行。
2. 之後也許辦個正式的大型技術conference？

有相關建議也請提出，
開會前會有比較明確的討論議程。

[2017-10-30 16:15] yurenju commented on #7
一些照片，微軟因為場地正在使用中，就沒有拍照了。

### 未來產房

會議室內部，目前只擺了大概四十張椅子

![apc_1172](https://user-images.githubusercontent.com/22155/32181799-3d6fe726-bdd0-11e7-8427-993a946a1448.jpg)
![apc_1169](https://user-images.githubusercontent.com/22155/32181803-3d9d85b4-bdd0-11e7-9c95-e21d1092d497.jpg)
![apc_1170](https://user-images.githubusercontent.com/22155/32181804-3dca468a-bdd0-11e7-8737-e09bc94a50df.jpg)
![apc_1171]

[2017-10-31 03:23] juincc0 opened #10 "預算"
| 項目 | 說明 | 預算 |
| :---: | :---: | :---: |
| 場地 | 未來產房 | 36000 |
| 餐飲 | 外燴 / 茶水 / 酒水 | 50000 |
| 設計 | 貼紙/網站 | 5000 |
| 雜支 | 講者小禮物 | 5000 |
| 機票 | 台北 <=> 紐約 | 35000 |

[2017-10-31 06:12] daubas commented on #8
需求是約200件（S／M／L／XL），黑白、白黑、黑灰（logo色／底）三種款式（分為會眾、工作人員、講者），圖樣用meetup的logo，布料就是一般活動衫（美國棉300g）。

[2017-10-31 06:39] yurenju commented on #7
[預約用表單](https://docs.google.com/forms/d/e/1FAIpQLSfXsIT6SuBfAfN-4yLPDUfQqpK9-pE0fJy91iPsMDCHuV9mbA/viewform)

目前預估借用時間如下，今晚六點會跟未來產房預約：
* 租借場地：Function Room
* 活動名稱：BeyondBlock Taipei
* 活動類型：技術型研討會
* 借用日期：11/25 週六
* 進場時間（場佈）：8:00
* 活動開始時間：9:00
* 活動結束時間：19:00
* 撤場時間：20:00

預估花費：
* 場地費：36,000 元（假日每三個小時一萬元，每個小時 4000 元，進場/撤場費用每小時 1,000）
* 清潔費：1,000 元（50人以下$500，51-100人$1,000，以此類推）
* 音響及視訊：500 元 （500/ 次）

[2017-10-31 09:33] yurenju commented on #7
未來產房南京復興站的場地申請表單已送出。

[2017-10-31 09:33] juincc0 opened #11 "贊助"
## 贊助名單
### 已確定
- 陽光雲 (場地)

### 有意願
- Cobinhood
- Airswap.io

### 待詢問
- AMIS (Maicoin)
- BitoEx

## 回饋
- 5~10 mins talk (視情況調整為5或10分鐘)
- 攤位
- Logo 露出 (網站/fb粉專/現場)

See also #10

[2017-10-31 10:24] daubas commented on #8
目前需求為：
- 約200件（S／M／L／XL），
- 黑白、白黑、黑灰（logo色／底）三種款式（分為會眾、工作人員、講者）
- 圖樣用meetup的logo。
- 布料就是一般活動的短袖T桖。
- 圖案在胸口。

初步問了三家廠商（未包含運費），地點都在台北：

- DYC 吳先生 (02)23117506 價格為212元／件。
- MYIF 葉小姐 (02)33221332#23 價格約為170元／件，會打樣，11/3前要送電子檔。
- INIF (郵件聯絡) 價格約為170元／件，不打樣。

資訊可以直接google得到；
各家的布料不太一樣，1.會比較厚一點，
之前有配合1.過一切順利，
但後兩家也是蠻大的應該問題不大。

[2017-10-31 10:32] daubas commented on #8
現在需要
1.確認工作人員、講者衣服的尺寸，會眾直接用常態分佈來估算件數。
2.三種顏色各對應到哪類參與者。
3.費用部分要從哪邊來。

[2017-11-01 08:01] juincc0 commented on #1
投票結束囉，得票數如下：
- BeyondBlock Taipei: 55
- Blockway Taipei: 5
- BlockBroad Taipei: 2

因此決定活動命名為：
### BeyondBlock Taipei

[2017-11-01 08:28] #1 closed, assigned to nobody

[2017-11-02 07:44] RobinHung commented on #6
暫定議程
---------
* 08:30 - 09:30 工作人員進場場佈

* 09:30 - 10:00 報到
* 10:00 - 10:30 EtherTW開場 + 來賓合影... (Vitalik會缺席)
* 10:30 - 11:10 Slot 1
* 11:10 - 11:50 Slot 2
* **11:50 - 13:30 LUNCH TIME**
* 13:30 - 14:10 Slot 3
* 14:10 - 14:50 Slot 4
* 14:50 - 15:20 贊助商 工商時間
* **15:20 - 15:50 TEA BREAK**
* 15:50 - 16:30 Slot 5
* 16:30 - 17:10 Slot 6
* **17:10 - 19:00 晚宴**
* 19:00 - 20:00 場地還原+清潔(20:00撤場)

[2017-11-02 14:45] daubas commented on #8
更新一下，目前確定這次先不做衣服，
先只做貼紙。

[2017-11-03 14:17] daubas commented on #10
11/3 還需要一張紐約到台灣的來回機票。

[2017-11-03 14:35] daubas commented on #9
目前問過大家的時間，
到月底前應該是約不齊了，
目前就以線上Hangout為主。

[2017-11-03 14:48] daubas opened #12 "會議紀錄區"
目前以slack與hangout討論為主。

[2017-11-03 14:48] daubas commented on #12
11/3 會議紀錄
1.Paul去聯絡陽光雲、Cobinhood、BitoEX，探詢贊助內容。
2.Robin就新的名單來排定議程

需要與 @juinc 討論的事項：
是否收門票？餐飲部份的處理方案。

[2017-11-03 14:51] daubas commented on #11
陽光雲的贊助內容：
1.場地費全額
2.紀錄組（攝影拍照）

贊助回饋：
1.十分鐘的介紹短講時間。
2.擺攤場地。

[2017-11-03 15:44] RobinHung commented on #6
議程 (final version)
---------
* 08:00 - 09:00 工作人員進場場佈

* 09:00 - 09:30 Registration
* 09:30 - 09:40 Opening by EtherTW
* **09:40 - 10:10 Lane Rettig (Founder of CryptoNYC - Blockchain in NYC)**
* **10:10 - 11:10 Karl Floersch (Ethereum Researcher - Smart Contract Tutorial)**
* 11:10 - 11:30 BREAK
* **11:30 - 12:00 何斌 Ben (CEO of ImToken - ImToken 2.0)**
* 12:00 - 12:20 Our Sponsors
* 12:20 - 13:30

[2017-11-03 15:56] changwu-tw commented on #6
建議:
1. Vlad 與 Loi 交換一下時間
2. 多一個講者與觀眾交流的時間在 16:30-
(彈性時間, 若乾掉就趕緊結束, 問題可以提早在網上搜集 ex: 你最想跟 V 說的話)

[2017-11-03 22:09] ChihChengLiang commented on #5
php 苦手。Press kit 用 hackmd 代替 https://hackmd.io/MYRgZgbCAmwJwFpoFMYICwgKzAQIwHYsQEAGKAQ1LDjxgryA

[2017-11-05 02:13] juincc0 commented on #12
1. 門票目前暫時沒有定論

## 贊成收費方
- 用票價過濾TA
- 支持社群運作

## 反對收費方
- 11月太多活動，可能降低參與意願

[2017-11-05 02:21] juincc0 commented on #12
2. 外燴王可以詢問看看？

[2017-11-05 05:46] yurenju commented on #7
更新一下狀況，我方已簽名，接下來會
* 等對方簽名並回傳
* 匯款訂金

這兩個事項結束後就可以關閉這個 issue。

[2017-11-05 05:51] yurenju opened #13 "設定報名網站 (11/13)"
目前我們還沒決定報名網站，這個 issue 需要：

1. Survey 要使用哪個報名網站
2. 根據我們的資訊如活動日期、票價與簡介在報名網站上建立活動。

[2017-11-05 05:59] yurenju commented on #13
另外設定報名網站時，需要留一些兌換碼給作為公關與貴賓票。如果可以的話，我希望先拿五張給之前我有參加去政府部門開會的人，鼓勵他們來參加以太坊區塊鍊技術性活動。給了兌換碼他們不見得會來（畢竟是在假日的活動），不過還是希望這樣做。

[2017-11-05 06:03] juincc0 commented on #13
1. kktix 似乎在tech conf圈比較流行
2. 票可分幾種：貴賓/贊助/媒體/一般，給公司的票可以歸為贊助票(有收費前提下)

[2017-11-05 06:29] yurenju opened #14 "網路宣傳以線下社群宣傳"
依照目前的重要時間的進度，我們應該開始進行宣傳。先列出幾個重要的時間：
* 網站上線：11/6
* 報名開始：11/13
* 活動當天：11/25

### 宣傳目的

本次宣傳的目的有幾個：

1. 希望在台灣對區塊鍊技術有興趣的人（以技術為主）都可以知道這個活動並且知道這次研討會的講師與議程並且在開始報名的那天可以盡快地來報名。
2. 當報名截止後，還會希望有進一步的曝光，讓沒有搶到票的人，知道活動當天開始後可以到直播頻道觀看這次活動。

宣傳目的中最重要的就是第一點，所以宣傳工作應於報名開始前展開，並且在一定時間內維持曝光程度。讓所有有興趣的人都不會錯過報名時間。

### 宣傳方法

#### 線上
根據以上的目的，我們應該有計劃地在 Ethereum Meetup 社群發送貼文，並且盡可能的增加觸及觀眾，達到上述目的。目前構想的宣傳貼文如下：

1. **網站上線前**：在網站上

[2017-11-05 06:58] yurenju commented on #14
### 宣傳稿 11/6
這幾天值得祝賀的事除了 PTT 復站外，Taipei Ethereum Meetup 也要辦研討會囉！BeyondBlock Taipei 將會是一個聚焦於區塊鍊的技術型單日研討會，網站與議程近期即將上線！說到以太坊 Ethereum，你最想聽的講者是誰呢？搞不好他即將來台演講呦 🌈

#真的很想知道Ｔ恤哪裡買的
#不管他嗑了什麼都給我來一點
#BeyondBlock #BeyondBlockTaipei2017

![image](https://user-images.githubusercontent.com/22155/32412658-7a655d74-c239-11e7-8888-730990b89931.png)

[2017-11-05 07:05] juincc0 commented on #14
1. 圖有創意，但這個梗會不會很多人不知道
2. 台北以太坊社群 => Taipei Ethereum Meetup
3. 可以下面弄一些有趣的hashtag ex: 不管他嗑了什麼都給我來一點

[2017-11-05 07:09] juincc0 commented on #13
票務這邊我處理

[2017-11-05 07:09] yurenju commented on #14
因為報名網站理論上這一兩天應該就會開張了，所以這兩天先貼一些暗示性的圖，讓大家猜猜培養一下好奇心跟期待感，兩天後一公布網站，到時候會在強力放送 Vitalik 來台演講的消息。另外 (2) 的話我等等直接改在宣傳稿裡面

[2017-11-05 07:28] RobinHung opened #15 "講者資訊"
### Vitalik Buterin
* [Personal Website](http://vitalik.ca)
* [Github](https://github.com/vbuterin)
* [Twitter](https://twitter.com/VitalikButerin)
* [Medium](https://medium.com/@VitalikButerin)

### Karl Floersch
* [Personal Website](https://karl.tech)
* [Github](https://github.com/karlfloersch)
* [Twitter](https://twitter.com/karl_dot_tech)
* [Medium](https://medium.com/@karl_dot_tech)

### Loi

[2017-11-05 07:40] juincc0 commented on #15
1. Lane 是人名？全名是？
2. Raiden network 是由哪位講者發表？
3. 若無個人資訊就先放公司連結
4. 剛看了一下網站 speaker 這個部分，似乎可以多補幾個icon連到socail media

[2017-11-05 07:42] RobinHung commented on #15
@juinc Lane跟Raiden Network的部分已經跟昶吾詢問了，晚點會補上

[2017-11-05 07:44] juincc0 commented on #6
補充一點：
這次議程應該就是全英文吧？

[2017-11-05 07:46] RobinHung commented on #6
除了imToken的王斌以外，其他都是英文

[2017-11-05 07:48] juincc0 commented on #11
台北紐約機票或許可請 Cobinhood 幫忙

[2017-11-05 07:55] juincc0 commented on #11
餐飲部份可請 Airswap 幫忙

[2017-11-05 07:56] juincc0 commented on #6
有辦法請王斌用英文發表嗎

[2017-11-05 09:27] RobinHung commented on #6
這個就要請 @changwu-tw 去詢問了

[2017-11-05 09:44] juincc0 commented on #11
補充一下贊助回饋：
1. 5~10 mins talk (視情況調整為5或10分鐘)
2. 攤位
3. Logo 露出

[2017-11-05 09:47] daubas commented on #11
了解
我會就這樣去談

JuinC <notifications@github.com>於 2017年11月5日 週日，下午4:44寫道：

--
陳思翰
0919523166

[2017-11-05 10:02] yurenju commented on #14
上面這則貼文我就排定到周一 11/6 貼囉。晚點會再寫幾則推廣貼文到這邊。粉絲團可以排程貼文，我會把他排在 11/6 早上九點發。另外我稍微研究了一下粉絲團的貼文建議，上面字數可能會太多，我看看可不可以再減少一點。

[2017-11-05 10:22] yurenju commented on #14
### 宣傳稿 11/7

沒錯以太坊區塊鍊創辦人 Vitalik 即將於 11/25 來台演講啦！！我們的官網也同步公開！除此外還有夢幻陣容的講者如 Vlad Zamfir, Karl Floersch 等帶領以太坊社群的關鍵人物都將來台演講，不想錯過的朋友別忘了關注粉絲團以及官方網站，報名時間近期即將公布！
🚀🚀 官方網站： https://ethertw.github.io/bbt2017/

#好奇Vitalik會穿什麼Ｔ恤來台
#BeyondBlock #BeyondBlockTaipei2017

![bbt2017-speakers](https://user-images.githubusercontent.com/22155/32445371-80000970-c340-11e7-809e-66b3b9103fdb.jpg)

[2017-11-05 13:42] hwwhww commented on #15
Lane Rettig
https://www.crunchbase.com/person/lane-rettig

[2017-11-05 13:43] hwwhww commented on #15
imToken 人家叫何斌

[2017-11-05 13:47] RobinHung commented on #15
感謝，已修正

[2017-11-05 13:58] BenjaminLu commented on #6
我是建議告知講者聽眾有非中文語系國家的人，讓講者自己去決定要用什麼語言來進行議程就好
如果他們認為用英文效果會比較好，自然就會改用英文講了

[2017-11-05 16:07] daubas commented on #11
一些問題：「logo露出」明確的來說會在那幾個部份？
我目前想到的有幾個地方：
1.活動網站
2.現場活動海報（會有這個嗎？）
3.活動開場的介紹

[2017-11-05 16:08] daubas commented on #13
會留票給贊助廠商的話、我就列入對外的贊助文件中？是給兩張票嗎？

[2017-11-05 18:14] daubas commented on #10
目前講者變多，
我在贊助部分把禮物用一萬元做估計。

[2017-11-06 05:09] ChihChengLiang opened #16 "議程改期 26 號評估"
支持理由：

- 講者如 Karl 衝到 11/23 感恩節， 25 號很趕，會衝擊到講者前來的意願。
- Vitalik 25 號才到台灣，行程也很趕

反對理由：

- 場地、宣傳大地震
- Loi有可能26走
- 11/26 有另一個區塊鏈大會

[2017-11-06 05:36] juincc0 commented on #16
1. Karl 目前預計幾號到台北？
2. Vitalik 預計幾點到台北？

[2017-11-06 05:37] ChihChengLiang commented on #16
Vitalik 25 號早上到，下午趕過來這樣

[2017-11-06 05:50] juincc0 commented on #16
1. Vitalik 的問題比較小，台北<=>機場頂多90分鐘 (保守)
2. Karl 他目前的schedule我們可能要先知道一下，只延後一天好像影響不大，我傾向不改期，除非所有講者都有感恩節的issue

[2017-11-06 06:44] BrianPHChen opened #17 "講者問題集 / 採訪問題集"
因應我們會有文字媒體，影視媒體的採訪，加上可能觀眾對V神有技術上的問題，就統一集中在這裡讓大家幫忙收集問題．

我先列幾個問題

1. 第一次來台灣嗎？對台灣的印象．
2. 一開始對區塊鏈感興趣的契機．
3. 台灣越來越多區塊鏈開發者，對於新手有什麼建議？

[2017-11-06 10:17] daubas commented on #13
討論後目前就以兩張票為主。

[2017-11-06 10:24] daubas commented on #11
給廠商的贊助合作案第一版
[BeyondBlock Taipei  贊助合作方案簡介.pdf](https://github.com/EtherTW/beyondblock_taipei_2017/files/1445826/BeyondBlock.Taipei.pdf)

[2017-11-07 12:17] BenjaminLu commented on #6
麻煩請給中英文版議程各一份，方便網站更新

[2017-11-07 15:26] yurenju commented on #14
### 宣傳稿 11/8

🚀 官方網站上線啦！除了昨天已經公布的講者內容外，議程也公開了，趕快去看看吧！別忘了空出 11/25 週六，讓我們在台北跟超強講者們一起深入區塊鍊技術！報名資訊近期也即將公布！

https://ethertw.github.io/bbt2017/

[2017-11-07 15:30] quesalltime commented on #3
我是Ken,目前的安排我是幫忙直播,所以在記錄組(quesalltime那個是我的githubID)

[2017-11-07 15:31] yurenju commented on #14
![image](https://user-images.githubusercontent.com/22155/32501558-4c873b26-c413-11e7-9bbd-366e5d149cdd.png)

今天的分析報告，看起來還不錯，上篇文章的流量也跟著帶起來了。接下來預計會有幾個比較重要的宣布：

1. 網站公布 - 明天
2. 報名日期時間公布 - TBD
3. 報名當天 - TBD

這三個時間點理論上會比較多觀眾，剩下的貼文我會用講者介紹大約一兩天貼一篇保持一些熱度，但是就不會像上面這三個時間點的貼文這麼熱。

[2017-11-07 16:06] tailingchen commented on #11
建議合作方案的pdf檔裡面是否可以附上聯絡窗口的資訊？

[2017-11-07 16:46] daubas commented on #11
抱歉前一個版本居然漏了窗口資訊，
更新版本在此
[BeyondBlock Taipei  2017贊助合作方案簡介.pdf](https://github.com/EtherTW/beyondblock_taipei_2017/files/1450842/BeyondBlock.Taipei.2017.pdf)

[2017-11-07 18:25] daubas commented on #11
圖片解析度調整後版本
[BeyondBlock Taipei  2017 贊助合作方案簡介.pdf](https://github.com/EtherTW/beyondblock_taipei_2017/files/1451161/BeyondBlock.Taipei.2017.pdf)

[2017-11-07 22:36] changwu-tw commented on #15
雷電網路, 會有 Philipp 參加, Jannik 也許也會一起參與, 可能會有 micropayment, 或是在 devcon3 的 demo. 講者資訊, 他們會再寄過來...

[2017-11-08 00:52] yurenju opened #18 "第二次場勘"
這邊先放一下大家這次場勘時想要獲得的資訊，以及放場勘後的筆記，這次場勘時間為 11/10 (五) 晚上七點在[未來產房](https://goo.gl/maps/Gi3wi8qEc2q)。

這次比較不一樣的是因為他們早班工作人員在六點半就下班了，晚上只會有工讀生，所以如果有一些問題不見得有辦法回答我們，不過我可以記錄下來之後問 Stephanie。

### 場地相關
- [ ] 場地位置：外燴位置，三個廠商攤位（BitoEX，陽光雲，鯨鏈科技），報到處。
- [ ] 場佈規劃：現場海報製作？工作人員與講師廠商餐飲問題
- [ ] 會眾動線
- [ ] 電源插座位置以及需要準備的延長線數量
- [ ] 問海報可以貼在哪邊，也考慮需不需要易拉寶（就是那種卷軸狀，但是可以展開的長型海報）
- [ ] 工作人員與廠商票座位
- [ ] 直播 best practice (Charlie現場教學

[2017-11-08 13:31] daubas commented on #11
11/8贊助初步結果：
AMIS：餐飲費，回饋LOGO／票x2／短講／（攤位非必須）
陽光雲：全部場地費，回饋LOGO／票x2／短講／攤位／紀錄組（攝影拍照）
BitoEX：可報帳額，回饋LOGO／票x4／短講／攤位
Cobinhood：雜支，回饋LOGO／票x2

[2017-11-08 20:00] changwu-tw commented on #16
1. V 會有 AMIS 的人幫忙從機場接送 (感謝 Alex 的安排)
2. Karl 還在找機會跟爸媽說感恩節的事

[2017-11-09 00:33] yurenju commented on #14
### 宣傳稿 11/9

想必大家都磨刀霍霍的想報名了吧？報名時間很快就會公開囉！話說大家有注意到 Vitalik Twitter 上的叉子圖嗎？原來這是在 Ethereum Foundation 成員聚會上，粉絲送給他上面寫著 " Byzantine #4,370,000" 的硬叉子 (Hard Fork) 慶祝分岔成功唷，話說這世上也沒有什麼軟叉子啦  😏

#報名時間即將公布
#記得先把1125空下來阿
#BeyondBlock #BeyondBlockTaipei2017

![acyhc0ynk](https://user-images.githubusercontent.com/22155/32582208-99d3287a-c528-11e7-9348-c2d6e92e3348.jpg)

[2017-11-09 00:46] yurenju commented on #14
最近這幾波發文都不錯，也把之前貼文的觸擊率拉上來了。不過前幾天的貼文都算蠻重要的資訊，今天的貼文則屬於冷知識，就要看大家有沒有覺得有有趣願意分享了 XD

![image](https://user-images.githubusercontent.com/22155/32582525-45b44ca4-c52a-11e7-9e69-cd44c2876a16.png)

[2017-11-09 02:31] juincc0 commented on #13
報名連結設定好囉
https://ethtaipei.kktix.cc/events/bbt2017

[2017-11-09 05:38] RobinHung commented on #4
#### 以下是我看到關於網站的一些問題
* 在原本關於“最新消息"的欄位裡，提到的是**社團**，但是連結給的是**粉絲專頁**。
    我假設是兩個連結都公開，所以有修改了文字說明，剩下的是需要多提供**社團**的連結

* 在"議程"裡，中英文轉換好像有問題 (更換語言後，還是會維持在系統的預設語言)

* 在"議程"裡，副標題的文字大小應該要略小一點，然後我建議把主標題改成**演講主題**，然後副標題則是**講者姓名** (我在其他conference的agenda看到都是這樣排版的)

* 我把交通資訊的英文欄位改成"Venue Location"後，排版會跑掉。看看有沒有辦法修改，如果沒有辦法的話，就改成"Venue"就好了

* 這場conference的名稱要叫做"BeyondBlock Taipei"還是"BeyondBlock Taipei 2017"可能需要統一一下

[2017-11-09 05:40] ChihChengLiang commented on #4
Venue 其實比 Venue Location 好些，後者贅字。

[2017-11-09 07:00] ChihChengLiang commented on #8
貼紙目前出了嗎？這裡我能接下處理。 @daubas

[2017-11-09 09:13] daubas commented on #8
貼紙這部分就麻煩 @ChihChengLiang 處理了，目前這塊還沒進度

[2017-11-09 09:18] daubas commented on #18
這次場勘有難得有機會比較多人聚集，
在這邊列一下可能要討論的事項，
大家有要討論的事歡迎加入。

- 場地位置：外燴位置，三個廠商攤位（BitoEX，陽光雲，鯨鏈科技），報到處。

- 場佈規劃：現場海報製作？工作人員與講師廠商餐飲問題

- 贊助收款管道

想到再補..

[2017-11-09 12:49] BenjaminLu commented on #4
議程語系切換的問題已經修正

[2017-11-09 14:14] yurenju commented on #18
* 會眾動線
* 電源插座位置以及需要準備的延長線數量
* 確認螢幕輸出的 adapter 未來產房有提供那些（這個我事前問他們好了）
* 問海報可以貼在哪邊，也考慮需不需要易拉寶（就是那種卷軸狀，但是可以展開的長型海報）

[2017-11-09 15:56] daubas commented on #18
- 那位講者需要機票？
- 講者禮物
- 我們自己的紀錄組？
- 工作人員與廠商票座位

[2017-11-09 16:16] yurenju commented on #14
### 11/11 宣傳稿

📆📆各位觀眾！最重要的報名時間終於姍姍來遲啦！除了最重要的報名日期 11/13 中午十二點外，本次 BeyondBlock 開放的報名人次僅有 100 人，如果不想錯過這個華麗的講者陣容，現在馬上設定手機上的提醒吧！⏰

報名網站（尚未開賣）： https://ethtaipei.kktix.cc/events/bbt2017
#BeyondBlock #BeyondBlockTaipei2017

![save-the-date](https://user-images.githubusercontent.com/22155/32616746-16a8d09a-c5ae-11e7-8946-1d903a223f0a.png)

[2017-11-09 20:51] changwu-tw commented on #4
網頁更新
1. 會場資訊 (ref: RobinHung)
2. 贊助廠商的網頁連結
3. 選單加入贊助廠商

[2017-11-10 03:57] ChihChengLiang opened #19 "貼紙"
版型如下，歡迎投票

[2017-11-10 03:58] ChihChengLiang commented on #19
文字版
![image](https://user-images.githubusercontent.com/3391420/32642317-14c3ed42-c599-11e7-922f-cd50b6c9cb76.png)

[2017-11-10 03:58] ChihChengLiang commented on #19
無文字版
![image](https://user-images.githubusercontent.com/3391420/32642322-23a1320c-c599-11e7-93fc-d02dc9db1db6.png)

[2017-11-10 03:59] ChihChengLiang commented on #8
貼紙搬到 #19 處理

[2017-11-10 03:59] #8 closed, assigned to daubas

[2017-11-10 05:57] daubas commented on #11
11/10贊助狀況更新：
AMIS：餐飲費，回饋LOGO／票x2／短講／（攤位非必須）
陽光雲：全部場地費，回饋LOGO／票x2／短講／攤位／紀錄組（攝影拍照）
BitoEX：可報帳額，回饋LOGO／票x4／短講／攤位
Cobinhood：雜支，回饋LOGO／票x2
鯨鏈科技：最高額度贊助（已經eth支付），回饋LOGO／票x2／短講／攤位

[2017-11-10 06:02] #2 closed, assigned to nobody

[2017-11-10 06:03] #7 closed, assigned to yurenju, juincc0

[2017-11-10 06:03] #12 closed, assigned to nobody

[2017-11-10 06:03] #9 closed, assigned to nobody

[2017-11-10 06:07] ChihChengLiang commented on #19
![image](https://user-images.githubusercontent.com/3391420/32645094-0f63c586-c5ab-11e7-9445-4acfb9745999.png)

![image](https://user-images.githubusercontent.com/3391420/32645065-f74d5084-c5aa-11e7-9e62-0d50060adedb.png)

[2017-11-10 06:13] #13 closed, assigned to juincc0

[2017-11-10 06:14] juincc0 commented on #18
- 直播 best practice (Charlie現場教學)
- 講者晚宴動線安排

[2017-11-10 06:15] daubas commented on #18
- 議程中的工作坊安排方式（一小時實作那場）

[2017-11-10 09:55] yurenju commented on #18
把大家想要確認的項目變成 checklist 放在敘述了，大家七點門口見囉！

[2017-11-10 15:01] hwwhww commented on #14
微修

📆📆各位觀眾！最重要的報名時間終於出來啦！除了最重要的門票將在 11/13 中午十二點開放搶票，本次 BeyondBlock 開放的門票數量僅有 100 人！如果不想錯過這個華麗的講者陣容，現在馬上設定手機上的提醒吧！⏰

報名網站（尚未開賣）： https://ethtaipei.kktix.cc/events/bbt2017
#BeyondBlock #BeyondBlockTaipei2017

[2017-11-11 00:52] yurenju commented on #18
依照昨天場勘的結果，在場地工作的部分還有一些工作需要後續處理：
* 問問有沒有背板
* 有沒有場地塞 130 張的照片
* 需要 badge
* 贊助商 需要延長線
* 海報印刷需要人負責
* 訂便當的事務
* 要先跟便當店告知便當數量

因為場勘已結束，這個 issue 就關了

[2017-11-11 00:52] #18 closed, assigned to yurenju

[2017-11-11 00:55] yurenju commented on #18
昨天比較早離開所以只有跑過場地的工作事項，@daubas 可以請你把後續討論時還需要什麼 follow-up 的 task 也寫上來嗎？

[2017-11-11 02:07] yurenju commented on #14
依照上面版本修改門票數量，因為怕複製錯所以多 copy 一份 XD

📆📆各位觀眾！最重要的報名時間終於出來啦！除了最重要的門票將在 11/13 中午十二點開放搶票，本次 BeyondBlock 開放的門票數量僅有 80 人！如果不想錯過這個華麗的講者陣容，現在馬上設定手機上的提醒吧！⏰

報名網站（尚未開賣）： https://ethtaipei.kktix.cc/events/bbt2017
#BeyondBlock #BeyondBlockTaipei2017

[2017-11-11 02:31] daubas commented on #11
11/11贊助狀況更新：
AMIS：餐飲費，回饋LOGO／票x2／短講／（攤位非必須）
陽光雲：全部場地費，回饋LOGO／票x2／短講／攤位／紀錄組（攝影拍照）
BitoEX：可報帳額，回饋LOGO／票x4／短講／攤位
Cobinhood：雜支（預定eth支付），回饋LOGO／票x4／短講／攤位
鯨鏈科技：最高額度贊助（已經eth支付），回饋LOGO／票x4／短講／攤位

[2017-11-11 02:34] daubas commented on #18
還需處理的後續工作
- 要決定現場主持人 由 @juinc 處理
- 要安排現場場控組，處理
1.報到
2.午餐便當（餐飲葷素）
3.參加者管制（初步討論以報到時發貼紙作為參加者識別）
- 晚宴佈置尚未決定
- 有提到希望設一個訪問區在外面那區，可以進行簡單的採訪並錄影。
- 講者接待尚未有定論

我也會把有結果的放在各組負責人的issue

[2017-11-11 02:53] daubas commented on #10
1/11預算更新

項目 | 說明 | 預算 | 附註
-- | -- | -- | --
場地 | 未來產房 | 39900 |已經付款
餐飲 | 晚宴外燴 | 42600 | 880x45+3000（車資）
餐飲 | 活動中茶水，便當 | 約20000 |
設計 | 貼紙/網站 | 1800+5000 | |
雜支 | 講者小禮物 | 10000 | | 1000x10
機票 | 台北 <=> 紐約 | 70000 | 35000x2

出納部分由 @willliw 處理
未估計部分麻煩 @juinc 補完

[2017-11-11 03:08] daubas commented on #3
會議紀錄已決定事項的部分不確定放那，
先放這邊好了：

11/10會議決定事項

- 出納、保留票、講者禮物 由 @willliw 處理
- 主持人 由 @juinc 處理
- 實作時段安排 由 @ChihChengLiang 處理

[2017-11-11 04:22] ChihChengLiang opened #20 "海報"
### 影響到

- 贊助商想要 follow 海報風格

### 舊版海報

- [原檔_肥.jpg](
https://drive.google.com/file/d/0B8UpUHPqsiwJSTQ5SHoyNks2T0U/view?usp=drivesdk)
- 大小： A1

![image](https://user-images.githubusercontent.com/3391420/32712685-878ddf58-c80b-11e7-8b93-f8d1613d4310.png)

### 海報上要有的資訊

- 活動名稱
- 場地
- 時間
- 主辦單位
- 贊助廠商
- 官網 QR code

[2017-11-11 04:25] ChihChengLiang commented on #20
舊版海報我有五張，現場貼起來像這樣

https://photos.app.goo.gl/rjmy719mFDEyFKci1

[2017-11-11 05:08] changwu-tw commented on #16
Closed, 仍維持 25 舉辦

[2017-11-11 05:08] #16 closed, assigned to nobody

[2017-11-11 13:35] yurenju commented on #13
@juinc 一忙就忘了問，我在上面有提到希望可以給上次跟政府部門開會的人幾張票，希望他們有機會可以參加。後來看一下贊助票大多都拿兩張，我之前說五張好像也太多了。有機會可以拿到兩張票留給政府部門的人嗎？

[2017-11-12 04:05] juincc0 commented on #13
@yurenju 以表單的計算結果來看，不含政府的人數已達50，若多幾張應該就是現場多塞幾張椅子，數量若少於10 應該是可以

[2017-11-12 07:05] juincc0 commented on #20
我想需要，或許主風格就用現有 banner?
下面主辦/協辦/贊助掛上去就好？
不過這部分有人能協助設計嗎

[2017-11-12 10:57] yurenju commented on #13
@juinc 那我先預留兩張，並且填到 [試算表](https://docs.google.com/spreadsheets/d/1pfb_AcJV_IHBDyUbR28MyhiMeM9HX9CBYwmkBH3w9-s) 裡面，謝謝 :D

[2017-11-12 12:25] ChihChengLiang commented on #17
整理一下 ethnews 都問什麼問題，給大家靈感
https://www.ethnews.com/devcon3-ethnews-exclusive-with-vitalik-buterin

問 Ethereum 的文化

問少數族群

如何自學、模仿

問家庭

問以太、Token

問願景

問媒體

快問快答

奇怪問題

[2017-11-12 16:02] daubas commented on #11
11/12贊助狀況更新：
AMIS：餐飲費，回饋LOGO／票x2／短講／（攤位非必須）
陽光雲：全部場地費，回饋LOGO／票x2／短講／攤位／紀錄組（攝影拍照）
BitoEX：最高額度可報帳額，回饋LOGO／票x4／短講／攤位
Cobinhood：最高額度eth贊助（已經eth支付），回饋LOGO／票x2／短講／攤位
鯨鏈科技：最高額度eth贊助（已經eth支付），回饋LOGO／票x4／短講／攤位

[2017-11-13 00:39] yurenju commented on #14
### 11/13 宣傳稿

今天中午十二點就是 BeyondBlock 研討會的報名時間了，想聆聽夢幻陣容的演講千萬不要錯過啊！

📆 售票： https://ethtaipei.kktix.cc/events/bbt2017
📢 官網： https://ethertw.github.io/bbt2017/

![giphy](https://media.giphy.com/media/C0NhnyKT89QdO/giphy.gif)

[2017-11-13 01:59] ChihChengLiang commented on #20
maybe kk? 順便使用 kk 的新 banner ?

[2017-11-13 02:19] juincc0 commented on #20
@ChihChengLiang
好喔 設計出來了嗎

[2017-11-13 09:09] daubas opened #21 "行前會Hangout需要討論事項 (11/20 2100)"
時間：11/20 2100

1. 確認各組工作進度
2. 討論細流 (以議程為主線，各組支線)
3. 討論重大議題

## 贊助
- 廠商立牌 / 背板 / 訪問區

## 財務
- 機票補助
- 廠商場佈時間？

## 器材
- badge (有分版本?) / 座位名牌
- 海報
- 延長線數量
- 有無wifi
- 剪刀 / 膠帶?

## 議程
- 最終會眾名單 / 總人數 / 座位不夠的問題
- 當日報到流程 / 接待流程 / 講者上台流程
- 出入管制方式
- 講者禮物
- 行前通知
- 講者休息室的討論

## 餐點
- 中餐便當登記 / 用餐方式
- 晚宴佈置 (擺餐桌子需60*180cm 六張)

## 工作人員
- 素面白色上衣/黑色(或深色)褲 + badge

[2017-11-13 14:33] yurenju commented on #21
場地的 2, 3 已經寄信詢問。上面的事項如果可以事前處理，不是當天才要處理的我先開成 issue，比較好釐清哪些工作已經有人認領了。

[2017-11-13 14:36] yurenju opened #22 "便當事宜"
當天目前決定是要提供便當，有幾件事情要完成：

- [x] 確認便當數量
- [x] 決定便當廠商後，聯絡廠商確定 (1) 當天可出這個數量的便當 (2) 葷素當天問來不來得及 (3) 要幾點前跟他說便當數量
- [ ] 當天確定葷素食後，連絡便當廠商

[2017-11-13 14:39] yurenju opened #23 "Badge 事宜"
Badge 或掛牌將用於控制會眾與廠商等參與人數能不能進入演講場地，有幾件事情要確定。

- [ ] 報名完成後，要用什麼形式讓門神辨識這個人可以入場，有幾個參考的方式：(1) 掛牌 (2) 貼紙貼在身上 (3) 蓋章 (蓋章好像比較不容易讓門神確認)
- [ ] 確認上述工作後，開始製作掛牌、貼紙或任何需要事前準備的物品。

[2017-11-13 14:44] yurenju opened #24 "器材"
目前贊助商的區域沒有任何的插座，需要延長線從會場牽到外面，並且提供每個廠商約兩個插座，這樣應該不至於過載。這個 issue 需要：

- [x] 確認贊助商的數量
- [ ] 依照上面的資訊加上再去了解一下場地最近的插座，評估需要多少延長線
- [ ] 準備這些延長線並且於當天帶去

[2017-11-13 14:47] yurenju commented on #20
這個項目目前還剩下的工作有：

- [ ] 取得海報檔案（應該是在設計中？）
- [ ] 確認輸入數量
- [ ] 列印海報

[2017-11-13 14:49] yurenju opened #25 "主持"
主持人相關的工作目前有：

- [ ] 確認主持人的工作有那些
- [ ] 尋找到適合的主持人並且建立聯絡方式
- [ ] 當天聯絡主持人

[2017-11-13 14:53] yurenju opened #26 "場控組事務"
場控組是當天事務較多，目前已知的場控組事務：

1. 報到
2. 午餐便當（餐飲葷素）
3. 參加者管制（初步討論以報到時發貼紙作為參加者識別）

有一些事前籌畫可以先處理的：

- [ ] 確認場控組的事務除了上述三點還有沒有其他的
- [ ] 確定場控組的人員有誰，並且讓他們知道場控組的事務範圍

[2017-11-13 14:58] yurenju opened #27 "晚宴工作"
晚宴工作有：

- [ ] 跟 @juinc 確認晚宴的動線安排
- [x] 尋找晚宴廠商
- [ ] 當天需要與晚宴廠商聯繫

[2017-11-13 15:00] yurenju opened #28 "訪問區設立工作"
請在這邊補上這個工作需要有什麼工作事項需要處理，我先猜測大概會需要的工作是：

- [ ] 設計採訪區背板
- [ ] 輸出採訪區背板，並事先保存
- [ ] 當天運送背板到場地

我感覺這個可能不是必備的項目，不過沒有參與到討論不是很確定。

[2017-11-13 15:02] yurenju commented on #6
講者接待應該要在這邊討論，上次場勘時有提到這項工作，不過似乎不是很明朗。

[2017-11-13 15:06] yurenju commented on #10
根據 @daubas 的 comment，我先把這個 issue assign 給 @willliw  跟 @juinc

[2017-11-13 15:07] yurenju commented on #15
@changwu-tw 這個項目還有什麼工作需要進行的嗎？如果還有工作需要進行的話，可以先 assign 一位獲多位工作人員作為負責人，如果沒有工作要進行就可以關閉這個 issue 了 :D

[2017-11-13 15:22] ghost commented on #20
KK here!
I will be responsible for 海報設計 and I will send out on Wed night. @ChihChengLiang @yurenju @juinc ? How do I become the assignee?

[2017-11-13 15:26] daubas commented on #27
- [x] 尋找晚宴廠商
目前已經找好晚宴廠商並且交付訂金，
不過還需確認送餐時間。

[2017-11-13 15:27] yurenju commented on #20
@ChihChengLiang can you add @bichenkk as a member of EtherTW?

[2017-11-13 15:29] yurenju commented on #27
@daubas 這個項目目前是你在幫忙的嗎？如果是的話想要先 assign 給你 :D

[2017-11-13 15:45] RobinHung commented on #21
行前會要不要再提早一點啊？像是禮拜五晚上(11/17)？
不然事情感覺還有點多，怕等到11/20才討論一些事情的話會太趕

[2017-11-13 15:47] yurenju commented on #21
我覺得目前有開出來的工作項目都應該要先做，如果有漏掉的也都開上去。行前會應該只是確認一下目前進行中的工作是不是都有 on track。就如同 @RobinHung 講的一樣，如果到時候再處理就會太慢，可以先做的就先做了，到時候只要 check 狀態即可。

[2017-11-13 16:04] daubas commented on #27
沒問題～

[2017-11-13 16:05] daubas commented on #22
處理中餐的需要去針對講者需求客製化@@

infomation via @hwwang
（保母大媽）對於餐飲的小小 hint～
我們有一些挑食的 VVVIP，有人只吃肉不吃澱粉，有人不喝咖啡但會喝無糖的茶，有人不吃甜食除了 90% 以上的黑巧克力....
（雖然這些人，很可能也不會乖乖待著吃 QQ 所以我立場薄弱）

[2017-11-13 16:07] yurenju commented on #27
感謝 m(_  _)m

[2017-11-13 21:00] ghost commented on #20
I need further information @@
活動名稱 => BeyondBlock Taipei 2017
場地 => FutureWard – Central
時間 => 25 November
主辦單位 => Taipei Ethereum
贊助廠商 => list of sponsors please ?????
官網 QR code => which website ?????

[2017-11-14 02:10] juincc0 commented on #22
這家看起來不錯
[麥斯盒子](https://www.facebook.com/pg/ComfortaBox/shop/?rid=1667452780161159&rt=6)
菜色蠻豐富，看起來漂亮，而且健康
<img width="828" alt="2017-11-14 10 09 27" src="https://user-images.githubusercontent.com/8275168/32759362-0c6f7df8-c924-11e7-9133-bb7e827ba291.png">

[2017-11-14 02:16] juincc0 commented on #24
5(攤位數) + 1(relay) + 2(backup) = 8
接下來就看怎麼湊到這個數量
能幫忙帶的在下面回覆一下數量？

[2017-11-14 02:17] juincc0 commented on #25
已詢問耀中，這兩天會有結果

[2017-11-14 02:17] yurenju commented on #24
如果贊助商數量確定是五個了，我就先把第一項工作打勾了

[2017-11-14 02:19] yurenju commented on #24
至於距離外面攤位最近的插座讓我來問一下 Futureward

[2017-11-14 02:22] juincc0 commented on #27
上回場勘時有稍微與 @yurenju 討論晚宴動線
1. 議程結束後於大廳大合照，順便淨空會場(需提醒會眾帶走隨身物品)，進行晚宴佈置
2. 佈置過程中控管會場進出人員，以防一般會眾混入
3. 佈置完成後，由場務組引導 講者/媒體/贊助/工作人員 進入會場

[2017-11-14 02:25] juincc0 commented on #28
對於背板大小我沒啥概念， @ChihChengLiang 這個你有經驗嗎？
需要另外的工具來架設嗎？

[2017-11-14 02:26] juincc0 commented on #26
我們可能會需要先弄一份細流

[2017-11-14 02:32] juincc0 commented on #20
活動名稱 => BeyondBlock Taipei 2017
場地 => FutureWard – Central
時間 => 25 November
*主辦單位 => Taipei Ethereum Meetup
*贊助廠商 => 官網有完整清單
*官網 QR code => https://ethertw.github.io/bbt2017/

[2017-11-14 02:35] juincc0 commented on #15
應該可關閉囉

[2017-11-14 02:35] #15 closed, assigned to nobody

[2017-11-14 02:36] juincc0 commented on #10
講者禮物上回是討論要送茶葉？

[2017-11-14 02:36] juincc0 commented on #10
茶水要不要問看看 Futureward 是否有配合廠商？

[2017-11-14 02:36] juincc0 commented on #10
便當廠商我回覆在 #22

[2017-11-14 02:38] juincc0 commented on #6
@ChihChengLiang 分組名單出來後就能開始著手了

[2017-11-14 03:52] BrianPHChen commented on #23
可以使用一次性的紙手環，像是演唱會或馬拉松在使用的，我請朋友幫忙詢問價格

[2017-11-14 04:02] charlieworld commented on #28
訪問區的設立，需要考慮：

1. 動線
    為避免阻塞，通常都會設立在場外的某個牆邊。但我那天場刊印象中外面攤販會擺滿。
    不然就是直接在舞台最前方，投影幕那邊設立。
    活動結束後，可以直接把投影幕升起來，直接露出後面的背板（背景），也可以當成是合照的區域。

2. 光線
    如果要做的比較好，建議要考慮到訪問區的燈光是否昏暗，尤其是臉部的光線。 最好另外架設一個燈，這個部分我可以去借借看。 ( 重要等級為 nice to have)

3. 背景
    通常背板會有幾種，一種是巨大珍珠板輸出的，不容易搬運，容易折到。

    另外一種可以像是「[易拉寶](https://www.google.com.tw/search?q=%E6%98%93%E6%8B%89%E5%AF%B6&safe=off&source=lnms&tbm=isch&sa=X&ved=0ahU

[2017-11-14 04:51] BrianPHChen commented on #28
其實我們公司有打算做這些事情，我來問問看有沒有什麼方式合作

[2017-11-14 05:33] willliw commented on #28
我以為可能在沙發那邊聊聊就好。攝影大哥自己喬角度這樣，從簡就好？

[2017-11-14 05:57] BrianPHChen commented on #28
不然就沙發區聊聊好了，感覺做背板又要把所有廠商弄近來，挺麻煩的，我請攝影大哥幫忙拍

[2017-11-14 06:15] yurenju commented on #23
補上 slack 上的討論連結 https://ethertw.slack.com/archives/G7QBCLHMG/p1510629045000190

[2017-11-14 06:56] daubas commented on #11
11/14贊助狀況更新：
AMIS：餐飲費，回饋LOGO／票x2／短講／（攤位非必須）
陽光雲：全部場地費，回饋LOGO／票x2／短講／攤位／紀錄組（攝影拍照）
BitoEX：最高額度可報帳額，回饋LOGO／票x4／短講／攤位
Cobinhood：最高額度eth贊助（已經eth支付），回饋LOGO／票x2／短講／攤位
鯨鏈科技：最高額度eth贊助（已經eth支付），回饋LOGO／票x4／短講／攤位
共識科技：贊助直播服務，回饋LOGO／票x2

[2017-11-14 07:18] daubas opened #29 "行前通知（給合作單位）"
我們應該要準備一份行前通知，
分別給會眾跟合作單位，
初步設想了一下，
內容要包括：

1. 會眾
- 交通建議
- 停車場位置／價格
- 聯絡人

2. 廠商
- 進出場時間
- 廠商短講時間與順序

3. 講者
- 有晚宴的存在（仍無法保證出席率）
- 休息室（#6 (comment) 討論中）
- 當天流程
- 投影片是否可以提早提供（但我想大多數講者會是當天才提供）

大家有想到歡迎補上。

Update: Yuren 11/17 更新講者部分

考慮要加進去的內容：
- 吸菸區

[2017-11-14 07:59] yurenju commented on #24
Stephanie 回覆最近插座如下圖打 X 處

![function room](https://user-images.githubusercontent.com/22155/32768895-af8839d2-c954-11e7-9b61-ccb0b7b1c10f.png)

[2017-11-14 08:07] yurenju commented on #21
場地塞滿 130 張椅子的照片：

![s__75948035](https://user-images.githubusercontent.com/22155/32768970-fc7a3e48-c954-11e7-8b93-8ffaed4a113b.jpg)
![s__75948034](https://user-images.githubusercontent.com/22155/32768972-fef31d5c-c954-11e7-91a4-72a29fe61c05.jpg)

背板他們不提供我們在未來產房看到的背板，上面再放我們的海報，但是有兩個小立台可以借我們

![s__40984608](https://user-images.githubusercontent.com/22155/32769205-e7beaf74-c955-11e7-8551-9e27bf08ff39

[2017-11-14 08:09] yurenju commented on #10
針對飲料廠商未來產房回覆如下：

[2017-11-14 09:09] ChihChengLiang commented on #19
貼紙出貨。
另外百變怪小編詢問是否願意分享作品。
若沒什麼問題，晚上十點前我就留粉絲團網址，並回覆可以囉。

[2017-11-14 09:10] BrianPHChen commented on #23
【購買現貨公版】同一圖案同一顔色  尺寸10"x 0.75"
100條-- 240元 / 500條--960元 / 1,000條(一盒)-- 1680元 /  含包裹郵資 含稅  以台幣現金匯入，即刻安排出貨隔天可達
◎ 存根式腕帶( 11英寸長) 或是  比較寬的(  1英寸寬 ) 每1,000條加210元
◎ 時尚雷射腕帶 每1,000條加420元

【私版  訂做   】 尺寸10"x 0.75"  一版到底不換色   1,000條  -- 3500元 /含稅 包裹 郵資 運費
◎ 存根式腕帶( 11英寸長) 或是  比較寬的(  1英寸寬 ) 每條加0.2元

不取消我司帶頭LOGO 版費2500元 由我方吸收  ( 要求帶頭空白 則印刷版費2500自付；帶頭也要印客戶資料 則收取印刷版 2500+帶頭銅刻版6,000元=8500元 版費 ；日後 不更動版面 以後仍然可使用 不再收

[2017-11-14 09:11] BrianPHChen commented on #23
![_______________](https://user-images.githubusercontent.com/7158388/32771787-79586dc0-c8e9-11e7-9e72-fab70a9cf96a.JPG)

[2017-11-14 09:12] juincc0 commented on #19
沒問題唷

[2017-11-14 09:13] BrianPHChen commented on #23
我們可以買單色，然後上面寫報名的人的名字，滿便宜的

[2017-11-14 09:20] tailingchen commented on #23
可以訂做不同顏色, 用來區別參與者/講者/贊助商/媒體

[2017-11-15 08:21] daubas commented on #22
餐飲已定
中餐：[麥斯盒子](https://www.facebook.com/pg/ComfortaBox/shop/?rid=1667452780161159&rt=6) 150人*100元
飲料：[飛蘭士](https://www.fresh-line.com.tw) 紅/綠茶/熱咖啡 三大桶

[2017-11-16 14:36] yurenju commented on #22
@daubas 謝謝你 ^^ 我先把前兩項打勾，如果跟實際的情況有不同再麻煩你做修改~

[2017-11-16 14:39] yurenju commented on #28
如果大家決定要在沙發區聊聊，那這個 issue 就關囉！如果你認為還是有設置採訪區的必要，請 re-open 這個 issue，感謝大家！

[2017-11-16 14:39] #28 closed, assigned to nobody

[2017-11-16 14:40] yurenju commented on #6
@RobinHung 想請你把議程目前還有的工作項目列出來，比較明確的知道還有什麼工作需要進行的，謝謝 :D

[2017-11-16 14:41] yurenju commented on #25
@juinc 如果有什麼新進展再麻煩你更新到這個 issue 來，感恩！

[2017-11-16 14:44] yurenju commented on #29
這個 issue 我先拿下了，主要會進行的工作是整理 @daubas 提到的資訊，如果大家覺得還有什麼需要在會前通知的請留言在這邊。

另外目前我預計在 11/23 發布行前通知，到時候可能會需要 @juinc 透過 kktix 的系統幫忙發送給會眾，到時候會提供給你通知內容。

[2017-11-16 14:51] yurenju commented on #21
行前會應該會由 @juinc 召集，我先把這個 issue assign 給你~

[2017-11-16 14:52] yurenju commented on #19
這個工作項目在接收到貼紙後應該就沒什麼問題了，謝謝 @ChihChengLiang 的幫忙，先關了 ^^

[2017-11-16 14:52] #19 closed, assigned to ChihChengLiang

[2017-11-16 15:04] yurenju commented on #3
雖然還有兩個 TBD，但是目前應該所有工作都上軌道了，先關掉這個 issue，如果大家覺得還有需要確認負責人請再 re-open 這個 issue

[2017-11-16 15:04] #3 closed, assigned to juincc0

[2017-11-16 15:05] yurenju commented on #4
網站目前已經上軌道了，如果還有什麼網站的大項工作需要放在 github 追蹤，請再另外開 issue。

[2017-11-16 15:05] #4 closed, assigned to BenjaminLu

[2017-11-16 15:07] yurenju commented on #5
這個工作項目看起來已經有基礎的資訊了， @ChihChengLiang  覺得還有什麼需要加的，還是有需要什麼其他的協助嗎？

[2017-11-16 15:21] hwwhww commented on #5
@bichenkk 做的海報設計與相關素材要不要也放進去？

[2017-11-16 15:35] RobinHung commented on #6
1. 關於講者接待的部分，目前似乎還不是很清楚，或許等到行前會的時候再直接討論?!
2. 我在想Karl的smart contract tutorial的部分，不知道有沒有辦法請Karl事先提供教學的內容，一來是讓工作人員先熟悉內容之後，比較好去解決觀眾的問題，會讓場面比較不亂，二來是在conference前，可以先提供環境設置的教學(理想上)，讓當天至少不用再花時間去解決這些比較基本的問題。
3. 當天會是統一使用一台電腦來播放投影片吧?! 需要自備電腦還是場地會提供?
4. 最新的議程是在官網上，這個issue裡的議程要麻煩 @juinc 再去修正了

另外關於宣傳和餐飲的問題，我就再留言到各自的issue裡好了

[2017-11-16 15:39] RobinHung commented on #22
飲料的部分不知道是否需要兩批? 分別是上午跟下午的tea break供應

[2017-11-16 15:41] RobinHung commented on #14
活動前有一天的宣傳應該是要提醒觀眾記得自備電腦，因為當天會有smart contract的教學，然後一定要充飽電(因為場地幾乎沒有插座可使用)

[2017-11-16 15:41] hwwhww commented on #22
午餐我有點顧慮，看起來我們應該沒有類似「休息室」的空間可以使用

1. 放講者在會場那吃便當可能會吃得有點苦（沒有桌子、觀眾會來干擾），所以是不是還是我另外找講者午餐地點比較合宜？
2. 150  人應該會有人得要坐在地上吃了

[2017-11-16 15:45] RobinHung commented on #6
補充: 當天的開場應該是要稍微介紹一下Taipei Ethereum這個社群，這個重責大任事就交給 @ChihChengLiang 了嗎XD

[2017-11-16 15:49] hwwhww commented on #6
我可以負責問 Karl

[2017-11-16 15:58] yurenju commented on #14
@RobinHung  好！

[2017-11-16 16:09] hwwhww commented on #6
若是會議開始前的接待
  1. Vlad、Karl、Lane、Thomas在我們的掌控（？）下， @mhchia 會帶他們來
  2. Philipp & Ben 會和許昕一起來，我們也是能聯絡的到
  3. Vitalik 由 AMIS 的人負責當天帶來
  4. 請問 Loi 的聯絡人是哪位？

會議當天的接待，好像還沒討論過

[2017-11-16 16:11] RobinHung commented on #22
good point!

似乎需要找個場地來讓講者用餐，但除了講者之外，跟講者一同出席的來賓是否需要一起另外找場地用餐? (目前講者+來賓就已經19人了，要找場地可能會有點困難XD)

[2017-11-16 16:18] RobinHung commented on #6
還有一個是贊助廠商短講的部分：在上午(12:00 - 12:20)有兩場，下午(14:30 - 15:00)有三場，順序的部分看看廠商部份有沒有特殊的需求(要麻煩 @daubas 詢問了，感謝!)

如果沒有的話就我直接排定了

[2017-11-16 16:30] RobinHung commented on #6
目前似乎還沒有人認領

可能需要決定一下當天講者的集合時間，需不需要有人帶他們來會場(不過我想人力可能會不太夠，如果住的旅館很分散的話)，應該要把他們的時間跟觀眾的進場報到時間錯開
或許可以幫講者準備很台灣式的早餐...冰奶茶(?)

[2017-11-16 16:40] daubas commented on #22
回應一下：
1.廠商的說法是飲料早到晚一整天沒問題，兩趟要多算一次運輸車錢就是。
2.午餐時間一般會眾不會在座位乖乖的吃，而會到處找場地吃（也許是大門口外面）。
3.講者用餐其實等同於設置講者休息室，目前看來沒有空間，可能得借用未來產房沙發區？

[2017-11-16 16:47] daubas commented on #14
之前好像說因為人太多而且要直播，
可能不開放會眾wifi密碼。
contract教學需可能考慮會眾沒網路的狀況。

[2017-11-16 16:58] daubas commented on #6
補個資訊，找到產房平面圖，好像有四間meeting room，當天看要不要直接整間借下來做講者休息室跟工作人員置物區
![futureward central floor plan aug 2017 new](https://user-images.githubusercontent.com/6070892/32904496-6b9308ee-cb32-11e7-884f-4d1888a50d1f.png)

[2017-11-16 17:43] hwwhww commented on #22
@daubas
提醒一下，希望 綠茶 能是無糖的，感謝 🙇🏻

[2017-11-16 17:56] hwwhww commented on #29
請問會有講者版的嗎？
提醒他們
* 有晚宴的存在（仍無法保證出席率）
* 休息室（https://github.com/EtherTW/beyondblock_taipei_2017/issues/6#issuecomment-344988165 討論中）
* 當天流程
* 投影片是否可以提早提供（但我想大多數講者會是當天才提供）

[2017-11-16 18:01] hwwhww commented on #27
請教 @daubas 關於菜單
「只吃肉的人」能吃飽嗎？😳

[2017-11-16 18:08] hwwhww commented on #27
我找不到 tea break 討論應該在哪一篇 issue，應該是有點心？
所以在這提醒一下，關於所有餐飲
有一位講者 `Cannot eat peanut`，所以能否請廠商標示一下若有 peanut 的食物？謝謝。

[2017-11-16 18:11] daubas commented on #29
講者我覺得是給接待組告訴他們議程並跟著，
畢竟現場會有什麼需要可能要隨機應變；
投影片也要提早去測試機器，
每位講者的時間都很不多、務必把裝投影片的時間盡量縮短；
這部分可能在行前會討論吧

[2017-11-16 18:14] daubas commented on #27
比較特殊的飲食需求可能要有人負責特別去處理，
也許是接待組？
目前都沒有定點心喔、主要是考慮現場放不下，
@hwwhww 覺得講者會需要點心嗎？
花生的部分我想中餐可以避免，
但晚餐要特別標可能廠商幫不上忙、
就也需要有人處理了，
菜單請見附檔。
[1125外來房產_外燴王880法式菜單.pdf](https://github.com/EtherTW/beyondblock_taipei_2017/files/1479680/1125._.880.pdf)

[2017-11-16 18:17] daubas commented on #21
增加一個項目：

- 講者休息室for午餐與置物

[2017-11-16 18:19] hwwhww commented on #27
嗯嗯，我沒有覺得會需要有點心，只是一開始看 "tea break" 名字以為有，但沒有也 ok 的～
感謝提供資訊！

[2017-11-16 19:26] hwwhww commented on #24
借這篇請問一下，投影機接電腦的線材是 HDMI 還是 VGA？或都有？
我可以帶 `Type-C 轉 HDMI` 的線
若是 VGA，`Type-C 轉 VGA` 的線可請線材大師 @changwu-tw 準備嗎？

[2017-11-16 19:32] hwwhww commented on #25
確認主持人的工作有那些
* 準備介紹詞
* 提醒講者演講時間剩幾分鐘，用愛與關切的眼神請他講快一點

[2017-11-17 01:06] yurenju commented on #29
@daubas 覺得可以行前通知 + 接待組兩者並行，像是講者晚宴還是要先行告知，不然他安排了晚餐就不會出席了。

[2017-11-17 01:08] yurenju commented on #6
如果決定了要借休息室盡早跟我說喔！

[2017-11-17 01:47] juincc0 commented on #21
行前會定在 11/20(一) 9pm?

[2017-11-17 01:52] juincc0 commented on #22
講者休息室是必要的 但應該只需提供一間就夠

[2017-11-17 01:54] juincc0 commented on #25
主持事宜由 @yaochunghu 協助

[2017-11-17 01:58] changwu-tw commented on #6
Loi 由我來幫忙接待

[2017-11-17 02:04] juincc0 commented on #6
@yurenju 目前暫定借一間會議室
用途：1. 午餐 2. 休息 3. 準備

[2017-11-17 02:07] hwwhww commented on #6
請先確認會議室桌椅數量

[2017-11-17 02:12] yaochunghu commented on #25
主持事宜以確認

[2017-11-17 02:21] daubas commented on #6
目前會議室需求是？
會讓所以講者一同午餐的話，
講者八人+接待組應該會是16人左右的需求？
可能麻煩 @yurenju 確認一下meeting room的桌椅與價錢，
看看夠不夠用。

[2017-11-17 02:31] yurenju commented on #26
@daubas 剛跟 @juinc  確認過場控這邊會由你負責，我先把這個 issue assign 給你，不過你身上還掛了不少工作，如果你需要幫忙的話可以到 slack 上跟大家說一下，可以分散一下工作量。

[2017-11-17 02:39] hwwhww commented on #6
1. 覺得不要讓 VIP 也在外面吃
2. 會議室內 staff 2人 控場就好？

[2017-11-17 02:52] daubas commented on #26
已經詢問場地會議室狀況，
會議室有四間，
費用都一樣是第一小時800元+第二小時後600元/小時。
第一第二間都是七人空間含一桌七椅，
第三間是十人空間含一桌十椅，
第四間是十人空間無桌椅。
11/25尚無預定。

我想可以直接借第三間整天？

[2017-11-17 02:56] yurenju commented on #26
這邊我會去跟未來產房借這間會議室。

[2017-11-17 03:03] yurenju opened #30 "跟未來產房額外借一間會議室與更新活動人數"
這個工作事項要做：
- [x] 跟未來產房租借 `十人空間含一桌十椅` 與 `七人空間含一桌七椅` 總共兩間會議室
- [x] 更新人數為 150 人，並且依照此人數更新清潔費用至 1500 元

另外 hwwang 提議要在中午借用另外一間會議室，正在 [slack 上面討論中](https://ethertw.slack.com/archives/G7QBCLHMG/p1510886768000034)，等決議後就可以聯絡未來產房組借。

預算：(800+600*11)*2 = 14800

[2017-11-17 03:21] yurenju commented on #30
已寄信給未來產房，預估金額除了上面提到的 14800 外，還會因為人數達 150 人而增加 500 元的清潔費。

[2017-11-17 03:43] juincc0 opened #31 "接待"
| 講者 | 負責人 | 備註 |
| :---: | :---: | :---: |
| Vlad | @mhchia | |
| Karl | @mhchia | |
| Lane | @mhchia | |
| Thomas | @mhchia | |
| Ben | @hwwhww  | 會和許昕一起來 |
| Philipp | @hwwhww   | 會和許昕一起來 |
| Vitalik | @tailingchen  | AMIS 會有人幫忙接機 |
| Loi | @changwu-tw | |

- 當日接待細節

[2017-11-17 03:43] juincc0 commented on #6
相關討論移至 #31

[2017-11-17 03:43] #6 closed, assigned to RobinHung

[2017-11-17 04:03] ChihChengLiang commented on #29
看到行前通知又剛好看到這張 XD
![image](https://user-images.githubusercontent.com/3391420/32928842-b6f5dfaa-cb19-11e7-9b10-3b0a92f084a4.png)
[出處](https://www.facebook.com/flying.crazyer/photos/a.1769014240020348.1073741829.1767237020198070/1955652914689812/?type=3&theater)

[2017-11-17 04:05] ChihChengLiang commented on #5
好主意，我收一下。剩下的等媒體問，我們再給吧

[2017-11-17 04:07] ChihChengLiang commented on #17
怕大家害羞丟問題上來會跳通知，放在 [hackmd](https://hackmd.io/KYNmCYE4HYEMBYC08CMBWJ8QgMaMgGbgBGiADLGQBwhoDMKkkO0QA===?both) brainstorming 吧

[2017-11-17 04:09] yurenju commented on #29
抖抖 der，大家要發大量信前一定要好好想想 `傅斯年 (沒說這句)` XDDD

[2017-11-17 04:16] hwwhww commented on #31
少列了 Ben 總，也是和許昕一起來

[2017-11-17 04:16] ChihChengLiang commented on #20
我把海報的檔案整理在這個 [資料夾](https://drive.google.com/open?id=10Lx58ATE4evIrOHql25vkk72A23HtmVy) 上

[2017-11-17 07:28] tailingchen commented on #23
根據討論的結果, 最後結論製作Badge當作出入場證明.
識別證掛帶進度Update:
1. 接洽廠商: [昶綺有限公司](https://www.changchis.com/tw/products/?method=listing&sid=211)
2. 掛帶類別: 1公分走馬帶(黑色)+轉動S勾
3. 數量: 150
4. 價格:
[code]
5. 付款進度: 已匯款, 預計11/21到貨

![ly-801](https://user-images.githubusercontent.com/18319268/32935595-79a2f6ca-cb36-11e7-8fe8-0a374c973dec.jpg)

[2017-11-17 07:40] tailingchen commented on #23
識別證影印進度Update:
1. 雪柔象牙紙230磅(參考附件影像), A4: 4元/張, 彩色印刷每張加7元, 共11元/張 (未稅)
2. 裁切費用: 100元
3. 預計製作200張識別證, A4可印4張識別證, 金額預估約 (200 / 4) * 11 + 100 = 650 (未稅)
4. 識別證圖稿: 預計11/20前確認

![img_2908](https://user-images.githubusercontent.com/18319268/32935977-01f79520-cb38-11e7-9ac2-fff69361a417.JPG)

[2017-11-17 07:58] BrianPHChen commented on #31
@hwwhww 你剛剛害邱駿問台灣班總為什麼要被接待

[2017-11-17 09:30] mhchia commented on #20
已送印，A1 size，共 15 張
星期二可拿到 :)

[2017-11-17 15:51] hwwhww commented on #31
@mhchia 早上帶 Karl 去買星巴克

[2017-11-18 04:34] hwwhww commented on #6
Karl: I'll send tonight or tomorrow

[2017-11-18 07:15] RobinHung opened #32 "贊助商短講"
* 12:00 - 12:10 BitoEX
* 12:10 - 12:20 鯨鏈

* 14:30 - 14:40 Cobinhood
* 14:40 - 14:50 陽光雲
* 14:50 - 15:00 AMIS

[2017-11-18 07:18] RobinHung commented on #29
贊助商短講時間 參考#32

[2017-11-18 07:19] RobinHung commented on #25
贊助廠商短講時間 參考#32

[2017-11-19 07:13] mhchia commented on #31
OK

[2017-11-19 15:42] yurenju commented on #29
## 會眾行前通知

各位與會者您好，感謝您參與 BeyondBlock Taipei 2017，研討會即將在這個禮拜六舉行了！這邊有幾點提醒事項請大家特別注意：

### 時間地點

本次研討會為 11/25 週六早上九點開始報到，九點半活動正式開始，地點於「未來產房．南京復興」，地址為 105 台北市松山區長春路 343 號地下一樓，距離南京復興捷運站步行約五分鐘的路程即可抵達。

另外本周天氣可能會降雨，也別忘了攜帶雨具！

### 線上討論

請加入 Taipei Ethereum Meetup 的 slack，當天我們可以於線上討論議程： http://bit.ly­/252hNY0 通關密語為 decentralized。我們也建立了一個線上共筆頁面讓大家可以共同編輯對於講題的筆記：

https://hackmd.io/c/r1z7g7kxM

### 電源

由於場地的電源

[2017-11-19 15:44] yurenju commented on #29
我對贊助廠商與講者的資訊不是說很齊全，不知道 @daubas 可否幫忙寫贊助廠商的行前通知， @RobinHung 幫忙寫講者的行前通知呢？感恩 m(_  _)m

[2017-11-20 08:03] juincc0 commented on #32
consensus innovation 需要排嗎

[2017-11-20 11:18] yurenju commented on #29
講者的行前不要忘了加上：目前借用的會議室是不可飲食的，而在中午未來產房可以提供他們的廚房區供講者用餐，時間為一個小時，正好是我們目前安排的用餐時間的長度。

原文：
[code]

![default](https://user-images.githubusercontent.com/22155/33015930-8dcbb8a0-ce27-11e7-9636-320500d4de3c.png)

[2017-11-20 13:37] charlieworld opened #33 "直播"
### 負責人
 - Charlie 查理 charlieworld2008@gmail.com
 - Jason yehchicken@gmail.com
 ### 場地器材
 現場網路有實體線路，會走實體線路， @charlieworld 會帶網路線
 - [x] DV 一台
 - [x] DV 腳架
 - [x] HDMI 擷取盒
 - [x] HDMI 30M 線
 - [x] 延長線

 ### 直播
分早上 (9:30 ~ 12:20) 與 下午  (13:30 ~ 17:20) 兩半場
 - [x] 上半場連結： https://youtu.be/md9iNDdAmVo
 - [x] 下半場連結： https://youtu.be/9RtSod8EXn4
 - [x] 上半場文案
 - [x] 下半場文案
 - [x] 播放清單連結： https://www.youtube.

[2017-11-20 13:40] yurenju commented on #29
### 講者行前通知的一些提醒

* 給講者的行前通知需要自行攜帶電腦，也有可能會需要準備 adapter。
* 現場投影機是 HDMI，不支援 d-sub
* 如果要使用公用電腦播放投影片，需要準備 PDF 格式

1. Format of presentation (PPT, PDF):
2. What audio/video does your presentation include, if any:
3. Do you want to plug in your laptop for your presentation?
If yes, what video outputs does your laptop support (HDMI, Mini Displayport):

[2017-11-20 14:03] ChihChengLiang commented on #33
@bichenkk 鏡面( 1920 X 1080 ) 要再麻煩你囉

- 上面需要贊助廠商 logo

[2017-11-20 14:06] changwu-tw commented on #29
我覺得這兩次宣傳可以加上贊助商的簡介，感謝一下

[2017-11-20 14:07] yurenju commented on #14
另外也會需要宣傳直播連結

[2017-11-20 14:21] ghost commented on #33
海報 (1920 X 1080 ) 上要有
- beyond block logo
- 贊助廠商 logo
?

[2017-11-20 14:26] charlieworld commented on #33
我覺得這張海報排版改成橫式 1920 x 1080 就很棒了　（資訊應該跟海報上的一樣就行？）

https://imgur.com/a/uaz2s

[2017-11-20 14:53] ghost commented on #33
okay I send you tonight

[2017-11-20 16:06] daubas commented on #21
11/20會議紀錄：
- 確認各組工作進度

議程：確認各個講者[接待狀況](https://github.com/EtherTW/beyondblock_taipei_2017/issues/31)
設計：貼紙完成，海報製作中，名牌週二開始製作
網站：工作人員大頭由 @juinc 從FB上放入照片，需要修改的自行聯絡
行銷：行前通知、各組大致完成。
直播：須製作橫幅圖檔 @ChihChengLiang ，網路直接接cable。
記錄：  @ChihChengLiang 的女友整場紀錄+各種大家隨手拍
贊助：結束 。
公關：邀請名單已接近確認完成。
財務：現況、需報帳的請由slack中pin住的檔案進入。
場務：需要人手管理
1. 接待處
2. 中午便當場佈
3. 進出場管制
晚宴安排由 @juinc 處理

- 雜項：
廠商立牌放在接待處， 背板 / 訪問區由有需求的自行找機會處理
器材

[2017-11-20 16:10] daubas opened #34 "場控"
當天場控工作分配
https://docs.google.com/spreadsheets/d/1ELOQtbSuzNMkCSgjfWEBwEsuJvEL8csutsLZSEIPlis/edit#gid=0
歡迎大家認領唷

[2017-11-20 16:34] juincc0 commented on #33
@bichenkk
資訊都要有喔

[2017-11-20 19:17] hwwhww commented on #6
Karl: Also so most of my tutorial will be based on my part 1 and 2 of learning Solidity at karl.tech

* https://karl.tech/learning-solidity-part-1-deploy-a-contract/
* https://karl.tech/learning-solidity-part-2-voting/

[2017-11-21 01:48] yurenju commented on #30
昨日討論需要延長借用 function room 一個小時，已經寄信告知，正在等候回覆。預算 function room 一個小時是 4,000 元，含稅為 4,200元。

CC @daubas & @willliw

[2017-11-21 04:31] daubas commented on #11
11/21贊助狀況更新：
AMIS：餐飲費，回饋LOGO／票x2／短講／（攤位非必須）
陽光雲：全部場地費，回饋LOGO／票x2／短講／攤位／紀錄組（攝影拍照）
BitoEX：最高額度可報帳額，回饋LOGO／票x4／短講／攤位
Cobinhood：最高額度eth贊助（已經eth支付），回饋LOGO／票x2／短講／攤位
鯨鏈科技：最高額度eth贊助（已經eth支付），回饋LOGO／票x4／短講／攤位
共識科技：贊助直播服務，回饋LOGO／票x2
LO3 Energy：贊助基本方案，回饋LOGO／票x2

[2017-11-21 07:11] mhchia commented on #34
我可以幫忙接待處，但早上要帶客人們來會場，不知道來不來得及。
另外想知道負責人需要做什麼事。
感謝～～

[2017-11-21 07:48] tailingchen commented on #23
進度update:
1. 已收到識別證帶
2. 識別證已完成印刷且裁切

[2017-11-21 08:39] yurenju commented on #14
@changwu-tw 在 https://github.com/EtherTW/beyondblock_taipei_2017/issues/29#issuecomment-345705144 提到接下來兩次宣傳可以感謝一下贊助商。

[2017-11-21 09:55] yurenju opened #35 "列出所有會使用休息室的人員"
由於未來產房只能給我們二十張可以進入共用工作區的卡片而休息室在工作區內，並且不希望輪流換卡片進去，所以在這邊想要做個列表放所有會進入休息室的人，不知道可不可以請 @RobinHung 跟接待組的大家列一下呢？另外我會需要進去，所以先扣掉我一個人變成 19 張。

另外這邊列出所有人，大家可以從這邊篩選：

### 講者與貴賓
* Vitalik Buterin
* Vlad Zamfir
* Karl Floersch
* Virgil Griffith
* Nicolas Lin
* Lane Retting
* Jennifer Huang
* Sydney Lai
* 許昕
* 托婭(Toya)
* 何斌
* 单保龙
* 黃磊磊
* Philipp Seifert
* Jannik Luhn
* 石橋
* Loi Luu
* Thomas Greco
​
### 工作人員
* 梁智程

[2017-11-21 10:03] ChihChengLiang commented on #5
need:
1. 新聞稿：通常都會先發一個新聞稿當主體，也會跟記者指這次活動的亮點出來，然後再依到場後的收獲心得改寫原來的新聞稿。
2. 亮點的影片（在YouTube上）
3. 大大講者/現場論壇狀況的照片2-3張

[2017-11-21 10:06] hwwhww commented on #35
`不希望輪流換卡片進去` - 是也不能由有卡片的人帶人進去嗎？

[2017-11-21 11:25] yurenju commented on #35
沒錯，要有卡片才可以進去。

[2017-11-21 11:30] hwwhww commented on #35
這麼嚴格的話喔～

### S 保護區

1. Vitalik Buterin
2. Vlad Zamfir
3. Karl Floersch
4. Lane Retting
5. 何斌
6. Loi Luu
7. Thomas Greco
8. Philipp Seifert

### A 保護區

1. Virgil Griffith
2. Jannik Luhn
3. 許昕
4. 托婭 (Toya)
5. 单保龙
6. 黃磊磊
7. 石橋

### B 保護區

1. Jennifer Huang
2. Sydney Lai

---

B 的可以不用進去，
A 的主要考量是他們會想一起吃便當....?

[2017-11-21 11:53] #23 closed, assigned to tailingchen

[2017-11-21 13:32] RobinHung commented on #29
### 講者行前提醒
* The projector at the venue is HDMI port. If you’re going to use the PC provided by us, please export the slide to PDF format.
* The venue locates at FutureWard - Central. (Address: B1F., No.343, Changchun Rd., Songshan Dist., Taipei City, Taiwan.)
* The conference starts at 9:30 AM.
* After the conference, We’ll have the buffet dinner at the venue!
* For more information, please visit

[2017-11-21 15:10] yurenju commented on #29
我畫了一下示意圖，附這張圖或接待講者時需要說明一下，因為講者休息室以及講者用餐區都在辦公室區域，這兩個地方是需要辦公室的卡才能進去的。

<img width="2481" alt="futureward_central_floor_plan__aug_2017_new_" src="https://user-images.githubusercontent.com/22155/33079522-c74d8966-cf10-11e7-8998-5f513489aa98.png">

[2017-11-21 15:57] yurenju commented on #29
@juinc 給會眾的行前通知應該沒問題了，請你在週五早上透過 kktix 系統發送給所有與會者。內容請參考 https://github.com/EtherTW/beyondblock_taipei_2017/issues/29#issuecomment-345525979

贊助商的行前通知應該會由 @daubas 發送對吧？如果內容不方便貼上來也不用貼在這裡。或許也是週五早上發送，不過你可以挑一個比較適合贊助商的時間。

我不太確定的是講者的行前通知要如何發送，可能要請 @RobinHung 跟其他議程接待或跟講師比較熟識的人協調一下發送的管道？我原本預想是透過 email，不過不太確定是否有建立講者通訊錄，另外週五早上可能也會太晚，畢竟許多人都要坐飛機來，或許講者的部分可以早一點發送？

[2017-11-21 16:02] hwwhww commented on #29
要確保講者能看到，可以轉成 PDF 後我們在群裡通知～

[2017-11-21 16:04] yurenju commented on #29
好喔，或許也可以寫在 google docs 裡面，然後傳 google docs 的連結，看你們怎樣比較方便！

[2017-11-21 16:29] yurenju commented on #14
### 11/22 宣傳稿

各位，週末的 BeyondBlock 正在如火如荼的籌劃，目前預定直播的連結也都已經準備好了，當天預計透過直播觀看的朋友可以從下面的連結到 Youtube 頁面並且先按下「設定提醒」唷！
　
https://goo.gl/jshHtd
　
另外本活動可以順利的展開，也要感謝贊助這次活動的企業 AMIS, 陽光雲, BitoEX, Cobinhood, 鯨鏈科技, 共識科技, LO3 Energy 的支持，沒有他們就沒辦法帶給大家這麼好的活動了，感謝他們的支持！

<img width="974" alt="taipei_ethereum_meetup_-_youtube_-_youtube_-__ _" src="https://user-images.githubusercontent.com/22155/33084163-31da9f84-cf1c-11e

[2017-11-22 03:56] RobinHung commented on #35
### 門禁卡分配
* 講者 x8
* 接待 x4
* Staff x8

[2017-11-22 04:13] RobinHung commented on #29
講者行前通知(google doc): https://docs.google.com/document/d/1HXQONlbsAEPnBVpAoYurcRVlGPBs2ZTB5x7Dy267eNs/edit

如果沒有問題的話，就應該可以轉成PDF檔送出了

[2017-11-23 02:13] juincc0 commented on #10
@daubas
目前已花費預算可以整理一份google doc嗎？

[2017-11-23 02:14] juincc0 commented on #11
@daubas 贊助部分可以整理一份google doc嗎？

[2017-11-23 02:14] #10 closed, assigned to juincc0, willliw

[2017-11-23 02:14] #11 closed, assigned to daubas

[2017-11-23 02:17] #20 closed, assigned to nobody

[2017-11-23 02:19] #21 closed, assigned to juincc0

[2017-11-23 02:19] yurenju commented on #35
這個 issue 這樣應該是完成了 close it!

[2017-11-23 02:19] #35 closed, assigned to nobody

[2017-11-23 02:19] yurenju commented on #30
合約已回簽, close

[2017-11-23 02:19] #30 closed, assigned to yurenju

[2017-11-23 02:21] #22 closed, assigned to daubas

[2017-11-23 02:22] juincc0 commented on #24
器材單
能幫忙帶的幫忙填在這裡
https://docs.google.com/document/d/1FvM-ZixwIyd3W_ZNkxBJ6WtUxu-Z8aY22HBNL_sDppo/edit

[2017-11-23 02:23] #26 closed, assigned to daubas

[2017-11-23 02:23] #27 closed, assigned to daubas

[2017-11-23 02:24] #31 closed, assigned to nobody

[2017-11-23 02:25] yurenju commented on #29
這則等到三種行前通知都發了再關好了？明天等會眾的行前通知發了我再關

[2017-11-23 02:28] #32 closed, assigned to nobody

[2017-11-23 02:29] #25 closed, assigned to yaochunghu

[2017-11-23 02:55] juincc0 commented on #29
已發信給會眾

[2017-11-23 02:55] #29 closed, assigned to yurenju

[2017-11-23 02:57] juincc0 commented on #33
@charlieworld
直撥這邊還缺什麼嗎

[2017-11-23 03:00] juincc0 commented on #17
最後結論好像是各自採訪，所以不統問統訪

[2017-11-23 03:00] #17 closed, assigned to nobody

[2017-11-23 03:43] yurenju commented on #14
這個 issue 在明天發完最後一次的宣傳後也會關閉～耶～～～ \o/

[2017-11-23 04:30] charlieworld commented on #33
剩下直播畫面的排版布置而已，這部份我會處裡　:)
其他都完成了

[2017-11-23 04:35] juincc0 commented on #33
ok，close

[2017-11-23 04:35] #33 closed, assigned to nobody

[2017-11-24 17:27] hwwhww commented on #14
當直播開始後要不要在 reddit 上 po 連結呀？

[2017-11-24 17:28] hwwhww commented on #14
想了三秒，以前好像也是有人提早 po 的

[2017-11-26 14:24] ChihChengLiang commented on #14
### 台灣首次技術型區塊鏈研討會 BeyondBlockTaipei 圓滿落幕

台灣首次世界級的技術型區塊鏈研討會 `BeyondBlockTaipei`，在 2017 年 11 月 25 日於未來產房南京復興舉行。本次會議榮幸邀請到以太坊研究團隊(Ethereum Research)、國際其他知名團隊(如 imToken、Kyber Network、Raiden Network 及 OmiseGO)、本土廠商、開發者、愛好者同台交流。活動由台北以太社群（Taipei Ethereum Meetup）成員在台籌劃，並由在台的以太坊研究團隊工作成員邀請並接待嘉賓來台，旨在深化台灣參與國際區塊鏈生態的連結。

以太坊研究團隊，早上 Lane Rettig 提供入門的介紹，緊接 Karl Floersch 帶來現場的智能合約教學，下午 Vlad Zamfir 介紹區塊鏈治理，以及最後 Vit

[2017-11-26 16:20] #5 closed, assigned to ChihChengLiang

[2017-11-28 04:38] #14 closed, assigned to yurenju

[2017-11-28 04:38] #34 closed, assigned to daubas

[2017-11-28 04:39] #24 closed, assigned to nobody

[2017-11-28 04:43] juincc0 opened #36 "資金管理"
活動圓滿結束囉，Taipei Ethereum Meetup 全體工作人員值得一個熱烈掌聲！
接下來有幾點議題需要進一步討論：

1. 資金帳戶/錢包管理
2. 資金使用規範

有什麼初步想法先丟出來吧

[2017-12-01 08:50] quesalltime commented on #36
## 講者車馬費
### 高鐵
### 國外講者機票

[2017-12-05 15:50] hwwhww commented on #36
機票：
Lane 紐約
Karl, Vlad 都從 SFO 飛來
Vitalik 香港
Ben 杭州
Thomas 泰國
Loi 新加坡（吧）
Philipp 上海